.id1{
    background-image: url("https://images.wallpaperscraft.com/image/single/city_aerial_view_buildings_196866_3840x2160.jpg");
    min-height: 100%;
}
.id2{
    background-image: url("https://burst.shopifycdn.com/photos/new-york-city-skyline-at-night.jpg?exif=0&iptc=0");
    min-height: 100%;
}
.id3{
    background-image: url("https://i.pinimg.com/originals/4e/e0/db/4ee0dbc9e43940ef1f3660fd612259ea.jpg");
    min-height: 100%;
}
.id1,.id2,.id3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    display: block;
}

body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato",sans-serif ;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text .border {
    background-color: rgb(135, 136, 136);
    color: #0a0a0a;
    padding: 20px;
}
h2{
    text-align: center;
}